
/* ------------------------------------------------------------------------------------------------
------------------------------------------- footer/header/global style ----------------------------
--------------------------------------------------------------------------------------------------- */

 /* -------------------------- header/global ----------------------------------- */
main{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
}
h2{
    
    font-size: 40px;
    color: var(--medium-main-color);
}

h3{
    
    font-size: 25px;
    color: var(--light-main-color);
}
.app-form {
    

}

.app-form__item{
    background-color: var(--light-main-color);
    box-shadow: 3px 3px 3px black;
    color: white;
    width: 50%;
    border-radius: 15px;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.app-font-global {
    font-family: 'Roboto', sans-serif;    
    background-color: var(--background-color);
}

header {
    background-color: var(--medium-main-color);
    box-shadow: 0px 3px 3px black; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.app-header-left-empty {
    width: 250px;
    height: 100px;
}
/* .app-header-middle-logo {
} */
.app-header-right-connection {
    width: 250px;
}

.app-connection-button {
    background-color: var(--medium-secondary-color);
    color :var(--medium-main-color);
    padding: 8px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px var(--dark-main-color);
    text-decoration: none;
    /* border-radius: 15px; */
}
.app-connection-button:hover {
    background-color: var(--light-secondary-color);
    box-shadow: 3px 3px 3px var(--dark-secondary-color);
    color :black;
}
.app-connection-button:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: 0px 0px 0px var(--dark-secondary-color);
}

.app-menu-background {
    background-color: var(--medium-secondary-color);
    color :white;
    padding: 5px;
    height: 45px;
    box-shadow: 0px 3px 3px var(--dark-secondary-color);
}

.app-menu-background a {
    background-color: var(--medium-main-color);
    color :var(--medium-secondary-color);
    padding: 8px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px black;
    text-decoration: none;
}

.app-menu-background a:hover {
    background-color: var(--light-main-color);
    box-shadow: 3px 3px 3px var(--medium-main-color);
    transition: 0.25s background-color 0.25s box-shadow;
}

.app-menu-background a:active{
    transform: translateY(3px) translateX(3px);
    box-shadow: 0px 0px var(--dark-secondary-color);
} 

 /* -------------------------- footer ----------------------------------- */

 .app-footer-global-flex {
    background-color: var(--medium-secondary-color);
    color: var(--medium-main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    align-content: flex-start;
}

.app-footer-left {
    font-weight: bold;
}

.app-footer-left a {
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    color: var(--medium-main-color);
    font-size: 15px;
}

.app-footer-middle {
    width: 400px;
}

.app-footer-right {
    padding-bottom: 15px;
}

.app-perso-footer {
    list-style-type: none;
    font-size: 15px;
    line-height: 1.9;
}


/* ------------------------------------------------------------------------------------------------
------------------------------------------- Main page ---------------------------------------------
--------------------------------------------------------------------------------------------------- */









/**************************** Début Style Partie A l'affiche  ***********************************/
.app-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.app-right-side{
    width: 20%;
}
.app-left-side{
    width: 70%;
}

.app-main__posters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.app-card{
    
    padding:10px; /*A voir après */
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    
}
.app-card--dark{
    background-color: var(--background-color);
}
.app-card__image img{
    width: 100%;
}

.app-card__title a{
    color: var(--medium-secondary-color);
    font-size: 22px;
}
.app-card__btn{
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--light-secondary-color);
  background-color: var(--light-main-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.app-card__btn--color{
    background-color: var(--light-secondary-color);
    color: var(--light-main-color);
}

.app-card__btn:hover{
    opacity: 0.7;
}

.app-card--appear-many{
    width: 30%;
}
.app-card--appear-once{
    width: 55%;
}





/**************************** Fin Style Partie A l'affiche  ***********************************/



/* ------------------------------------------------------------------------------------------------
------------------------------------------- In showing page ---------------------------------------
--------------------------------------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------------------------
------------------------------------------- booking page ------------------------------------------
--------------------------------------------------------------------------------------------------- */

.app-title-booking {
    padding-left: 50px;
    padding-top: 50px;
    font-size: 40px;
    color: var(--light-main-color);
}

.app-flex-box-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 50px 50px 50px;
    
}

.app-flex-box-main-box-left {
    width: 550px;
}

.app-flex-box-main-form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: flex-end;
}

.app-flex-box-main-box-left_text {
    display: inline-block;
    padding-top: 13px;
    width: 180px;

}
.app-booking-select {
    display: inline-block;
}

.app-flex-box-main-button {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--light-main-color);
    box-shadow: 3px 3px 3px black;
    color: white;
    width: 210px;
    border-radius: 15px;
    position: sticky;
    height: 45px;
    margin-top: 0px;
}

.app-booking-button {
    width: 100px;
    height: 26px;
    border-radius: 10px;
}

.fa-film {
    margin-left: 20px;
    padding: 0px 30px 0px 4px;
    color: var(--dark-grey-color);
    float:left;
}
.fa-calendar {
    margin-left: 20px;
    padding: 0px 30px 0px 4px;
    color: var(--dark-grey-color);
    float:left;
}
.fa-clock-o {
    margin-left: 20px;
    padding: 0px 30px 0px 4px;
    color: var(--dark-grey-color);
    float:left;
}
.fa-ticket {
    margin-left: 20px;
    padding: 0px 30px 0px 4px;
    color: var(--dark-grey-color);
    float:left;
}

.app-logo-booking-box {
    background-color: var(--light-main-color);
    box-shadow: 3px 3px 3px black;
    color: white;
    width: 550px;
    border-radius: 15px;
    position: sticky;
    height: 45px;
    margin-top: 0px;
}

 .app-logo-booking {
    display: block;
    float: left;
    width: 70px;
    height: 38px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color:  var(--medium-secondary-color);  
    margin-right: 20px; 
    padding-top: 7px;
    box-shadow: 3px 0px 3px black;
} 

.app-flex-box-main-box-middle {
    width: 14%;
    height: 325px;
    text-align: center;
}


.app-button-display-booking {
    border-radius: 4px;
    background-color :var(--medium-secondary-color);
    border: none;
    color: var(--dark-main-color);
    text-align: center;
    font-size: 18px;
    padding: 7px;
    width: 45%;
    
    transition: all 0.5s;
    cursor: pointer;
 }
.app-button-display-booking span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.app-button-display-booking span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
.app-button-display-booking:hover span {
    padding-right: 25px;
  }
.app-button-display-booking:hover span:after {
    opacity: 1;
    right: 0;
  }



.app-booking-button-box {
margin-right: 50px;
margin-top: 10px;
}

.app-flex-box-main-box-right {
    /* background-color: rgba(0, 153, 255, 0.473); */
    width: 300px;
}

.app-flex-box-main-box-right-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    align-content: flex-start;
    height: 300px;
}

.app-box-right-title {
    font-size: 20px;
    color: var(--medium-main-color);
    font-weight: bold;
}

.app-box-right-producer {
    font-size: 15px;
    color: var(--medium-main-color);

}

.app-box-right-synopsis {
    font-size: 15px;
    color: var(--medium-main-color);
    text-align: justify;
    overflow: hidden;
    position: relative; 
    line-height: 20px;
    height: 220px; 
    text-align: justify;  
    padding-right: 15px;
  }

  .app-box-right-synopsis:before {
    content: '...';
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

/* ------------------------------------------------------------------------------------------------
------------------------------------------- movie page --------------------------------------------
--------------------------------------------------------------------------------------------------- */

.app-movie {
    /* background-color: rgba(0, 255, 115, 0.562); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-content: flex-start; 
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.app-movie__image {
/* background-color: blue; */
width: 20%;
}

.app-image {
    width: 100%;
}

.app-movie__description {
    
}
.app-description {
    /* background-color: rgba(255, 0, 255, 0.562); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start; 
    margin-left: 10px;
    width: 170%;
}
.app-description__top {
    
}
.app-top {
    /* background-color: rgba(229, 255, 0, 0.562); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start; 
    padding-bottom: 20px;
}
.app-top__release {
    
}
.app-release-title {
    padding-bottom: 10px;
    font-weight: bold;
}
.app-release-input {
    
}
.app-top__duration {
    
}
.app-duration-title {
    padding-bottom: 10px;
    font-weight: bold;
}
.app-duration-input {
    
}
.app-top__genre {
    
}
.app-genre-title {
    padding-bottom: 10px;
    font-weight: bold;
}
.app-genre-input {
    
}
.app-description__bottom {
    
}
.app-bottom__producer {
    padding-bottom: 20px;

}
.app-producer-title {
    padding-bottom: 10px;
    font-weight: bold;
}
.app-producer-input {
    
}
.app-bottom__actor {
    
}
.app-actor-title {
    padding-bottom: 10px;
    font-weight: bold;
}
.app-actor-input {
    
}
.app-bottom__synopsis {
    padding-bottom: 50px;
}
.app-synopsis-title {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 2em;
}
.app-synopsis-input {
    font-size: 1.2em;
    text-align: justify;
}

 /* -------------------------- commentaires / contact ------------------- */

 .fa-star {
    color: var(--medium-secondary-color);
 }
.fa-star>span {
    margin-left: 10px;
}

 .app-text-area {
    resize: none;
    border-radius: 15px;
    width: 430px;
    height: 200px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: 5px 5px black;
}

.app-commentaire-bloc {
    margin: 0px 50px 50px 0px;
    padding-top: 10px;
    background-color: var(--medium-grey-color);
    border-radius: 15px;
    box-shadow: 5px 5px var(--dark-grey-color);
    width: 500px;
    height: auto;
    padding-bottom: 20px;
    color: black;
}

.app-text-bloc {
margin: 0px;
padding-top: 15px;
padding-bottom: 10px;
}

.app-input {
    padding-top: 7px;
    padding-bottom: 10px;
}

.app-submitted {
    margin-left: 20px;
}




/* ------------------------------------------------------------------------------------------------
------------------------------------------- contact page ------------------------------------------
--------------------------------------------------------------------------------------------------- */


/**************************** Début Style Partie GPS  ***********************************/
.app-map--padding{
    
}
.app-map__item--size{
    height:400px;
    
    max-width: 100%;
    
}
/**************************** Fin Style Partie GPS  ***********************************/

.app-form {
    

}

.app-form__item{
    background-color: var(--light-main-color);
    box-shadow: 3px 3px 3px black;
    color: white;
    width: 50%;
    border-radius: 15px;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.app-form-contact{
    max-width: 60%; 
    min-width: 60%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.app-form-contact__item{
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.app-form-contact__item--button{
    border: none;
    color: var(--background-color);
    font-size: 1.2em;
    background-color: var(--light-main-color);
    width: auto;
    align-self: flex-end;
}

.app-form-label{
    font-size: 1.1em;
}
.app-form-input{
    height: 1.7em;
    width: inherit;
}
